sudo: false

language: c

cache:
  directories:
    - ~/.stack

addons:
  apt:
    packages:
      - libgmp-dev

before_install:
  # Download and unpack the stack executable
  - mkdir -p ~/.local/bin
  - export PATH=$HOME/.local/bin:$PATH
  - travis_retry curl -L https://www.stackage.org/stack/linux-x86_64 | tar xz --wildcards --strip-components=1 -C ~/.local/bin '*/stack'

install:
  - stack -j4 setup --no-terminal
  - stack -j4 build --no-terminal --only-snapshot
  - stack -j4 build --no-terminal --test --no-run-tests --coverage
  - stack -j4 test --no-terminal --install-ghc --only-dependencies

script:
  - stack -j4 test --coverage --no-terminal

after_script:
  - travis_retry curl -L https://github.com/rubik/stack-hpc-coveralls/releases/download/v0.0.4.0/shc-linux-x64-8.0.1.tar.bz2 | tar -xj
  - ./shc hgb hgb-test
